$white: #fff;
$primary: #037b5d;
$warning: #ff9f44;
$success: #04c393;
$danger: #ff0808;
$black: #313232;
$info: #3ba2dc;

/* General*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  .droc-button {
    background: $success;
    border: 1px solid $success;
    color: #024837;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    outline: 0;
    transition: background 0.5s ease, border 0.8s ease;;
    &:hover {
      background: #059c75;
      border: 1px solid #059c75;
    }
    &.active {
      border: 1px solid #024837;
      background: #024837;
      color: $success;
      &:hover {
        border: 1px solid #02634c;
        background: #02684f;
      }
    }
    &.info {
      background: $info;
      border: 1px solid $info;
      color: $white;
      &:hover {
        background: #348CBF;
        border: 1px solid #348CBF;
      }
    }
    &.grey {
      background: #ebebeb;
      border: 1px solid #ebebeb;
      &:hover {
        background: #b0b0b0;
        border: 1px solid #b0b0b0;
      }
      &.open {
        background: #b0b0b0;
        border: 1px solid #b0b0b0;
      }
    }
  }
  .droc-accordion-button {
    background: #ebebeb;
    border: none;
    color: #a1a1a1;
    min-width: 47px;
    cursor: pointer;
    outline: none;
    &.primary {
      background:#1fc267;
      color:$white;
    }
    &.open {
      background: #b0b0b0;
      color: $white;
    }
    &.small-text {
      font-size: 0.6rem;
      text-transform: uppercase;
    }
  }

  .droc-accordion-item {
    width: 100%;
    .droc-accordion-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dedede;
      > div {
        width: 100%;
        border-top: none;
        border-bottom: none;
      }

    }
  }
  .droc-toggle {
    display: inline;
    border: 1px solid #02372a;
    display: inline-flex;
  }
  .droc-timer {
    color: #03af84;
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    &.danger {
      color: $danger;
    }
  }

  /* background colour*/
  .bet365-sport {
    background: #027b5c;
    transition: background-color 0.3s ease;
    &:hover {
      background: #037a5b;
    }
  }
  .crownbet-sport {
    background: #8c5bad;
    transition: background-color 0.3s ease;
    &:hover {
      background: #5a3a6f;
    }
  }
  .ladbrokes-australia-sport {
    background: #d1242b;
    transition: background-color 0.3s ease;
    &:hover {
      background: #5f1114;
    }
  }
  .luxbet-sport {
    background: #b31e3c;
    transition: background-color 0.3s ease;
    &:hover {
      background: #5f1114;
    }
  }
  .sportsbet-sport {
    background: #1381e2;
    transition: background-color 0.3s ease;
    &:hover {
      background: #0f65b2;
    }
  }
  .unibet-sport {
    background: #1c7a47;
    transition: background-color 0.3s ease;
    &:hover {
      background: #165f39;
    }
  }
  .william-hill-sport {
    background: #0c457c;
    transition: background-color 0.3s ease;
    &:hover {
      background: #072747;
    }
  }
}

/*Structure  */
.droc-race {
  margin-bottom: 2rem;
  border: 1px solid #dadada;

}

.droc-odds-details {
  background: $primary;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.droc-odds-distance-time {
  line-height: 1.35rem;
  font-size: 0.9rem;
}

.droc_header {
  background: $white;
  display: flex;
  justify-content: space-between;
  .droc-header-title {
    padding: 0.4rem;;
    h2 {
      margin: 0;
      font-size: 1.35rem;
    }
    h3 {
      margin: 0;
      font-size: 0.87rem;;
      font-weight: normal;
    }
  }
  .droc-timer {
    margin-right: 10%;
    text-align: right;
  }
  .droc-links {
    margin: 0.4rem;

  }
  .droc-time-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40%;
    flex: 0 0 40%
  }
}

.droc-runner-odds {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .droc-runner-details {

    display: flex;
    max-width: 100%;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    border-top: 1px solid #dedede;
    align-items: center;
    box-sizing: border-box;
    .droc-best-odds {
      margin-left: 0.5rem;
    }
  }
}

.droc-runner {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  .droc-runner-num {
    font-weight:bold;
    color:$primary;

  }
  .droc-silk {
    width: 24px;
    margin-right: 0.5rem;
    font-size: 90%;
    img {
      width: 100%;
    }
    .droc-runner-jockey {
      font-size: 0.7rem;
    }

  }
}

div.droc-best-bookie {
  font-size: 0.65rem;
  color: #9e9d9d;
}

span.droc-best-odds-price {
  font-size: 0.9rem;
  font-weight: 700;
  color: $primary;
}

span.droc-best-odds-percentage {
  color: #1da7fe;
  font-size: 0.8rem;
  font-weight: 700;
}

.droc-runner-odds-list {
  display: block;

}

.droc-odd {
  background: #f8f8f8;
  display: flex;
  align-items: center;
  border-top: 1px solid #dedede;

  &:hover {
    background: #ebebeb;
  }
  .odd {
    text-decoration: none;
    font-size: 0.8rem;
    color: inherit;
    display: block;
    text-align: right;
    width: 100%;
    padding-right: 1.2rem;
    margin-right: 2.6rem;
    font-weight: bold;
  }
  .droc-bookies-image {
    width: 90px;
    padding: 0.7rem 0.4rem;
  }
  .droc-bet-link {
    height: 26px;
    line-height: 26px;
    font-size: 0.6rem;
    min-width: 19px;

  }
}

.droc-odds-stats {
  display: flex;
  justify-content: space-between;

}

/* Desktop Structure*/
@media (min-width: 1024px) {
  .droc-table {
    max-width: 1600px;
    margin: 2rem auto;
    position: relative;
  }
  .droc-odd {
    width: 100%;
    background: #fff;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    &:hover {
      border-top: 1px solid green;
      border-left: 1px solid green;
      border-bottom: 1px solid green;
      border-right: 1px solid green;
      background: rgba(0, 204, 36, 0.28);
    }
    .odd {
      text-align: center;
      width: 100%;
      padding-right: 0;
      margin-right: 0;
      font-weight: normal;
    }

  }
  .droc_header {
    background: $primary;
    padding: 0.4rem;
    min-height: 112px;
    h2 {
      color: $white;
    }
    h3 {
      color: #dcdcdc;
    }
    .droc-weather {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        justify-content: space-between;
        display: flex;
        background: #02372a;
        font-size: 0.8rem;
        color: #dcdcdc;
        margin: 0.2rem 0;
        padding: 0.2rem;
        min-width: 160px;
        .data {
          text-transform: uppercase;
          color: $warning;
        }
      }
    }
  }
  .droc-odds-distance-time {padding-left:1rem;}
  .droc-odds-distance-time {
    font-size:1rem;
  }
  .droc-odds-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    color: $black;
    padding:0;
  }
  .droc-runner-odds {
    .droc-runner-details {
      flex: 0 0 40%;
      display: flex;
      max-width: 40%;
    }

  }
  .droc-runner-odds-list {
    display: flex;
    max-width: 60%;
    flex: 0 0 60%;
    flex-direction: row;
  }
  .droc-bookies-image-list {
    display: flex;
    min-width: 60%;
    height: 100%;
    flex-direction: row;
    .droc-bookies-image {
      width: 100%;
      cursor: pointer;
      img {
        max-height: 100px;
        padding: 10px;
      }
    }
  }
  /* Time Icon*/
  .droc-time i {
    border-radius: 100%;
    height: 24px;
    width: 24px;

    border: 2px solid #ffa037;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 0.5rem;
  }
  .droc-time i:before {
    height: 4px;
    left: 13px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .droc-time i:after {
    height: 9px;
    left: 10px;
    top: 5px;
  }
  .droc-time i:before, .droc-time i:after {
    background: #fed;
    border: 2px solid #fc6;
    content: '';
    position: absolute;
    border-left: none;
    width: 0;
  }
  /* Distance icon*/
  .droc-distance i {
    border: 2px solid;
    width: 27px;
    height: 12px;
    margin: 11px 4px 11px 3px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #ffa037;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
  }
  .droc-distance i:before {
    position: absolute;
    width: 1px;
    height: 4px;
    box-shadow: inset 0 0 0 32px, 6px 0, 12px 0;
    left: 5px;
    top: 0;
    content: '';
  }
  .droc-distance i:after {
    position: absolute;
    width: 1px;
    height: 2px;
    box-shadow: inset 0 0 0 32px, 2px 0, 6px 0, 8px 0, 12px 0, 14px 0, 18px 0, 20px 0;
    left: 1px;
    top: 0;
    content: '';
  }
}